## This solution:

Assets/Work-In-Progress/
Assets/Work-In-Progress.meta

## Common:

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Aa]ssets/TextMesh*Pro/
/.idea/

!/[Aa]ssets/**/*.meta

ExportedObj/
*.csproj
*.sln
*.sln.DotSettings
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
